<h1>Este es el detalle de tu reserva para <br><strong><%= @parking.name %></strong> </h1>
<br>
<p>Nombre: <%= @parking.name %></p>
<p>Dirección: <%= @parking.address %></p>
<p>Fecha de inicio: <%= @rental.start_date %></p>
<p>Fecha de término: <%= @rental.end_date %></p>
<%= cl_image_tag @parking.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<br>
<h3>¡Proceder a pagar!</h3>
<button type="button" class="btn btn-warning">Reservar</button>
<br>
<br>
<%= link_to 'Eliminar', rental_path(@rental), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
<%= link_to "Regresar a Parkings", parkings_path %>
