<h1>Este es el detalle de tu reserva para <br><strong><%= @parking.name %></strong> </h1>
<br>
<div class="row">
  <div class="col-6">
    <p>Nombre: <%= @parking.name %></p>
    <p>Dirección: <%= @parking.address %></p>
    <p>Fecha de inicio: <%= @rental.start_date %></p>
    <p>Fecha de término: <%= @rental.end_date %></p>
    <br>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-warning">
      <h4>¡Proceder a pagar!</h4>
    </button>
    <br>
    <br>
    <%= link_to 'Eliminar', rental_path(@rental), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } %>
    <%= link_to "Regresar a Parkings", parkings_path %>
  </div>

  <div class="col-6">
    <div class="mb-3" style="width: 100%; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= cl_image_tag(@parking.photo.key, height: 300, width: 400, crop: :fill, :transformation=>[
      {:border=>"2px_solid_grey", :radius=>7}
    ]) %>
  </div>
</div>
