<div class="container">
  <h1 class="mt-2 text-center">¡Estos son los <strong>Parkings</strong> disponibles!</h1>
  <hr>
  <div class="row">
    <div class="col-6">
      <% @parkings.each do |parking| %>
        <% if parking.rented? == false %>
          <% if parking.user_id != current_user.id %>
            <div class="card-product m-4">
              <% if parking.photo.attached? %>
                <%= cl_image_tag parking.photo.key %>
              <% end %>
              <div class="card-product-infos">
                <h1><%= parking.name %></h1>
                <h3 class="mt-1"><i class="fa-solid fa-location-dot"></i> <%= parking.address %></h3>
                <h3 class="mt-1"><strong>$ <%= parking.price_per_day.to_i %></strong> por día.</h3>
                <p><%= parking.description.truncate(50) %></p>
                <%= link_to 'Arrendar', parking, class: "btn btn-outline-success btn-sm mt-1"%>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-6 pt-4 pb-4">
      <div style="width: 100%; height: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
