<<<<<<< HEAD
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="parkings">
        <% @parkings.each do |parking| %>
          <h4><%= parking.name %></h4>
          <p><%= parking.address %></p>
          <p><%= parking.description %></p>
          <p><%= parking.price_per_day %></p>
          <%= link_to 'Show', parking %>
          <%= link_to "New parking", new_parking_path if policy(Parking).new? %>
        <% end %>
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['pk.eyJ1Ijoia2VtYWNrODMiLCJhIjoiY2xiaWV3NHk0MHFpazNvbW1laWNpNHh6ZyJ9.a7EWkJ_ruD7UUyrP7Wit7A'] %>"></div>
      </div>
    </div>
  </div>
</div>
=======
<h1>Estos son los <strong>Parkings</strong> disponibles</h1>
<br>
<% @parkings.each do |parking| %>
  <% if user_signed_in? %>
    <% if parking.user_id != current_user.id %>
      <% if parking.rented? == false %>
        <h4><%= parking.name %></h4>
        <%= cl_image_tag parking.photo.key, height: 300, width: 400, crop: :fill %>
        <p><%= parking.address %></p>
        <p><%= parking.description %></p>
        <p><%= parking.price_per_day %></p>
        <%= link_to 'Ver más', parking %>
      <% end %>
    <% end %>
    <% else %>
      <% if parking.rented? == false %>
        <h4><%= parking.name %></h4>
        <%= cl_image_tag parking.photo.key, height: 300, width: 400, crop: :fill %>
        <p><%= parking.address %></p>
        <p><%= parking.description %></p>
        <p><%= parking.price_per_day %></p>
        <%= link_to 'Ver más', parking %>
      <% end %>
    <% end %>
  <% end %>
>>>>>>> master
