<p><%= @parking.name %></p>
<p><%= @parking.address %></p>
<p><%= @parking.description %></p>
<p><%= @parking.price_per_day %></p>
<p><%= @parking.covered %></p>
<p><%= @parking.vehicle_type %></p>
<p><%= @parking.city.name  %></p>
<p><%= @parking.user.first_name  %></p>
<p><%= @parking.rented  %></p>
