<h1>Detalles del Parking <br><strong><%= @parking.name %></strong> </h1>



<div class="row">
<div class="col-6">
 <%= cl_image_tag @parking.photo.key, height: 300, width: 400, crop: :fill %>
  <p>Rating: <%= @parking.reviews.average(:rating) %></p>
  <p>Nombre: <%= @parking.name %></p>
  <p>Dirección: <%= @parking.address %></p>
  <p>Descripción: <%= @parking.description %></p>
  <p>Valor diario: <%= @parking.price_per_day %></p>
  <p>¿Es cubierto? <%= @parking.covered ? "Si" : "No" %></p>
  <p>Vehiculos recomendados: <%= @parking.vehicle_type %></p>
  <p>Ciudad: <%= @parking.city.name  %></p>
  <p>Estado: <%= @parking.rented ? "Rentado" : "Disponible"  %></p>
  <% if policy(@parking).edit? %>
    <%= link_to "Edit this parking", edit_parking_path(@parking) %> |
  <% end %>
  <!-- [...] -->
  <%= link_to 'Eliminar', parking_path(@parking), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro?' } if policy(@parking).destroy? %>
</div>
<div class="col-6">
<div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>



</div>

<hr>
<br>
<br>
<h2>Reviews</h2>
<% @parking.reviews.each do |review|%>
<%= review.user.first_name%>:
  <p><%= review.comment %></p>
  <p><%= review.rating %></p>
<hr>
<%end%>
<br>
<br>
<% if user_signed_in? %>
  <% if @parking.user != current_user && @parking.rented? == false %>
      <h3>¡Reserva este parking!</h3>
      <%= render 'shared/rental_form', rental: @rental %>
      <br>
      <br>
  <% end %>
  <% if @parking.rented? == true && @parking.rental.user_id == current_user.id %>
    <h2>Agregar un review</h2>
    <%= simple_form_for [@parking, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.submit "Agregar un review", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% else %>
  <h3>¡Reserva este parking!</h3>
        <%= render 'shared/rental_form', rental: @rental %>
<% end %>
<hr>
<br>
<br>
<%= link_to "Volver a Parkings", parkings_path %>
